<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (BreadcrumbItemList.Count is 0)
        {
            <li class="breadcrumb-item active" aria-current="page">@Root</li>
        }
        else
        {
            <li class="breadcrumb-item"><a class="breadcrumb-item__link" href="@RootPath">@Root</a></li>
        }

        @foreach (var item in BreadcrumbItemList)
        {
            @if (item.IsActive)
            {
                <li class="breadcrumb-item active" aria-current="page">@item.Name</li>
            }
            else
            {
                <li class="breadcrumb-item"><a class="breadcrumb-item__link" href="@item.Url">@item.Name</a></li>
            }
        }
    </ol>
</nav>