<div class="u-autocomplete form-floating">
    <input id="@_id" class="form-control" list="@("dl" + _id)" type="text" placeholder="@LabelText" value="@Value" @oninput="OnInput" @onchange="OnChangeAsync" spellcheck="false" autocomplete="off" data-lpignore="true" />
    <label for="@_id">@LabelText</label>
    <datalist id="@("dl" + _id)" class="u-autocomplete__datalist">
        @foreach(string option in _options)
        {
            <option value="@option" />
        }
    </datalist>
</div>