<div class="modal-backdrop fade show" @onclick="BackgroundClick"></div>
<div class="modal fade show d-block u-dialog" tabindex="-1" role="dialog">
	<div class="modal-dialog @(ModalInstance.Options.Class)" role="document">
		<div class="modal-content">
			@if (ModalInstance.Options.HideHeader != true)
			{
				<div class="modal-header">
					<h5 class="modal-title">@ModalInstance.Title</h5>
					@if (ModalInstance.Options.HideCloseButton != true)
					{
						<button type="button" class="close" aria-label="Close" @onclick="CloseClick">
							<span aria-hidden="true">&times;</span>
						</button>
					}
				</div>
			}
			@if (ChildContent is null)
			{
				<div class="modal-body">
					@if (!string.IsNullOrWhiteSpace(SubTitle))
					{
						<h4>@SubTitle</h4>
					}
					@if (!string.IsNullOrWhiteSpace(Message))
					{
						<p>@Message.ReplaceNewLine()</p>
					}
				</div>
				@if (Buttons?.Count > 0)
				{
					<div class="modal-footer">
						@foreach (var button in Buttons)
						{
							<button type="button" class="btn btn-@(button.CssClass) @(button.FlexibleWidth ? "btn--flexible" : "")" @onclick="(e => ButtonClick(button))">@button.Text</button>
						}
					</div>
				}
			}
			else
			{
				<div class="modal-body">
					@ChildContent
				</div>
			}
		</div>
	</div>
</div>